<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/navbar.css" />
</head>
<body>
<nav class="navbar">
  <div class="nav-left">
    <a href="home.html" class="logo">Smart Library Borrowing</a>
  </div>

  <div class="nav-right">
    <span id="nav-username"></span>
    <a href="dashboard.html">Dashboard</a>
    <a href="home.html">Books</a>
    <a href="active.html">Active</a>
    <a href="history.html">History</a>
    <a href="profile.html">Profile</a>

    <button onclick="logout()">Logout</button>
  </div>
</nav>

</body>
</html>